{% extends "_base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Contact Us" %}
{% endblock title %}

{% block content %}
<div class="container mx-auto p-8">
    <h1 class="text-text text-4xl text-center font-bold pt-10">
        {% trans "Contact Us" %}
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
        <div class="text-center mb-8">
            <h3 class="text-2xl font-semibold text-text mb-2">Galadriel, Full-Stack</h3>
            <img src="https://static.wixstatic.com/media/86bf6e_62d10acb25914f8581d5909297a6a8af~mv2.jpg/v1/crop/x_212,y_410,w_1772,h_1772/fill/w_268,h_268,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/galadrielcho.jpg" 
                 alt="Galadriel" class="w-40 h-40 mx-auto rounded-full mb-2">
        </div>
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
        <div class="text-center mb-2">
            <h3 class="text-2xl font-semibold text-text mb-2">Jonathan, Backend</h3>
            <img src="https://static.wixstatic.com/media/86bf6e_4af1f6bcae264f0090b7e68cf34ebe61~mv2.png/v1/fill/w_268,h_268,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/jonathon.png"
                 alt="Jonathan" class="w-40 h-40 mx-auto rounded-full mb-2">
        </div>
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
        <div class="text-center mb-2">
            <h3 class="text-2xl font-semibold text-text mb-2">Lio, Full-Stack</h3>
            <img src="https://static.wixstatic.com/media/86bf6e_086e48b94de24f89875b44bd261efc05~mv2.jpg/v1/fill/w_268,h_268,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/headshot2.jpg"
                 alt="Lio" class="w-40 h-40 mx-auto rounded-full mb-2">
        </div>
    </div>

    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
        <div class="text-center">
            <h3 class="text-2xl font-semibold text-text mb-2">Sam, Full-Stack</h3>
            <img src="https://static.wixstatic.com/media/86bf6e_33cbb0e29fef486ba72b90a291d1708e~mv2.png/v1/fill/w_268,h_268,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/image.png"
                 alt="Sam" class="w-40 h-40 mx-auto rounded-full mb-2">
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
        <div class="text-center">
            <h3 class="text-2xl font-semibold text-text mb-2">Teesha, Backend</h3>
            <img src="https://static.wixstatic.com/media/86bf6e_0c1ff57cab1648ec812963b88d8cb924~mv2.jpg/v1/fill/w_268,h_268,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/teesha.jpg"
                 alt="Teesha" class="w-40 h-40 mx-auto rounded-full mb-2">
        </div>
    </div>

    <div class="mt-8 flex flex-col items-center">
        <a href="mailto:gcho39@gatech.edu" class="text-text hover:underline text-lg">
            <h2 class="text-2xl font-bold mb-4">
                {% trans "Send Us Feedback" %}
            </h2>
        </a>
        
        <a href="{% url 'index' %}" class="flex-1">
            <button class="flex flex-col items-center justify-center w-10 focus:outline-none text-white bg-accent font-medium rounded-lg text-sm px-5 py-2.5">
                <p class="text-center text-white">{% trans "Go Back" %}</p>
            </button>
        </a>
    </div>

</div>
{% endblock content %}
