<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>
<body>
    <h1>Contact Us</h1>
    <h2>Meet Our Developers!</h2>
    <h3>Galadriel</h3>
    <img src="https://static.wixstatic.com/media/86bf6e_62d10acb25914f8581d5909297a6a8af~mv2.jpg/v1/crop/x_212,y_410,w_1772,h_1772/fill/w_268,h_268,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/galadrielcho.jpg">
    <p>Full-Stack</p>
    <h3>Jonathan</h3>
    <img src="https://static.wixstatic.com/media/86bf6e_4af1f6bcae264f0090b7e68cf34ebe61~mv2.png/v1/fill/w_268,h_268,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/jonathon.png">
    <p>Backend</p>
    <h3>Lio</h3>
    <img src="https://static.wixstatic.com/media/86bf6e_086e48b94de24f89875b44bd261efc05~mv2.jpg/v1/fill/w_268,h_268,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/headshot2.jpg">
    <p>Full-Stack</p>
    <h3>Sam</h3>
    <img src="https://static.wixstatic.com/media/86bf6e_33cbb0e29fef486ba72b90a291d1708e~mv2.png/v1/fill/w_268,h_268,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/image.png">
    <p>Full-Stack</p>
    <h3>Teesha</h3>
    <img src="https://static.wixstatic.com/media/86bf6e_0c1ff57cab1648ec812963b88d8cb924~mv2.jpg/v1/fill/w_268,h_268,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/teesha.jpg">
    <p>Backend</p>
    <h2>Send Us Feedback:</h2>
    <a href="mailto:FILL IN EMAIL HERE" target="_blank">FILL IN EMAIL HERE</a>
</body>
</html>