{% extends "_base.html" %}
{% block title %}Home - Spotify Wrapped{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 class="text-text text-4xl text-center font-bold pt-10">Welcome to Spotify Wrapped, {{ user.username }}.</h1>
        <p class="text-text text-center p-5">Generate customized summaries of your Spotify listening history.</p>

        {% if access_token %}
            <div class="flex space-x-4 items-center justify-center">
                <div class="p-10 flex space-x-4 items-center justify-center w-1/2">
                    <!-- Logout Button -->
                    <a href="{% url 'logout' %}" class="flex-1">
                        <button class="flex flex-col items-center justify-center w-full focus:outline-none text-text bg-accent font-medium rounded-lg text-sm px-5 py-2.5">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                            </svg>
                            <p class="text-center">Logout</p>
                        </button>
                    </a>

                    <!-- Get Wrappeds Button -->
                    <a href="{% url 'wrapped' limit=10 period='long_term' %}" class="flex-1">
                        <button class="flex flex-col items-center justify-center w-full focus:outline-none text-text bg-accent font-medium rounded-lg text-sm px-5 py-2.5">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m9 9 10.5-3m0 6.553v3.75a2.25 2.25 0 0 1-1.632 2.163l-1.32.377a1.803 1.803 0 1 1-.99-3.467l2.31-.66a2.25 2.25 0 0 0 1.632-2.163Zm0 0V2.25L9 5.25v10.303m0 0v3.75a2.25 2.25 0 0 1-1.632 2.163l-1.32.377a1.803 1.803 0 0 1-.99-3.467l2.31-.66A2.25 2.25 0 0 0 9 15.553Z" />
                            </svg>
                            <p class="text-center">Get Wrapped</p>
                        </button>
                    </a>
                    
                    <!-- View Past Wrappeds -->
                    <a href="{% url 'past_wraps' %}" class="flex-1">
                        <button class="flex flex-col items-center justify-center w-full focus:outline-none text-text bg-accent font-medium rounded-lg text-sm px-5 py-2.5">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 0 0-1.883 2.542l.857 6a2.25 2.25 0 0 0 2.227 1.932H19.05a2.25 2.25 0 0 0 2.227-1.932l.857-6a2.25 2.25 0 0 0-1.883-2.542m-16.5 0V6A2.25 2.25 0 0 1 6 3.75h3.879a1.5 1.5 0 0 1 1.06.44l2.122 2.12a1.5 1.5 0 0 0 1.06.44H18A2.25 2.25 0 0 1 20.25 9v.776" />
                              </svg>
                            <p class="text-center">Past Wraps</p>
                        </button>
                    </a>

                    <a href="{% url 'profile' %}" class="flex-1">
                        <button class="flex flex-col items-center justify-center w-full focus:outline-none text-text bg-accent font-medium rounded-lg text-sm px-5 py-2.5">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                            <p class="text-center">Profile</p>
                        </button>
                    </a>
                </div>
            </div>
        {% else %}
            <div class="flex flex-row justify-center items-center">
                <a href="{% url 'spotify_login' %}">
                    <button type="button" class="center focus:outline-none text-white bg-accent font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                        <span>
                            <img class="inline-block align-middle w-5 h-5 object-scale-down" src="https://storage.googleapis.com/pr-newsroom-wp/1/2023/05/Spotify_Primary_Logo_RGB_White.png" alt="Spotify Logo">
                            <p class="inline-block align-middle pl-1">Login with Spotify</p>
                        </span>
                    </button>
                </a>
            </div>
        {% endif %}
    {% else %}
        <h1 class="text-text text-4xl text-center font-bold pt-10">Welcome to Spotify Wrapped.</h1>
        <p class="text-text text-center p-5">Generate customized summaries of your Spotify listening history.</p>
        <div class="flex space-x-4 items-center justify-center">
            <div class="p-10 flex space-x-4 items-center justify-center w-1/2">
                <!-- Register Button -->
                <a href="{% url 'register' %}">
                    <button class="flex flex-col items-center justify-center w-full focus:outline-none text-text bg-accent font-medium rounded-lg text-sm px-5 py-2.5">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                        </svg>                      
                        <p class="text-center">Register</p>
                    </button>
                </a>
                
                <!-- Login Button -->
                <a href="{% url 'login' %}">
                    <button class="flex flex-col items-center justify-center w-full focus:outline-none text-text bg-accent font-medium rounded-lg text-sm px-5 py-2.5">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
                        </svg>
                        <p class="text-center">Login</p>
                    </button>
                </a>
            </div>
        </div>
    {% endif %}
    
    <div class="flex justify-center my-10">
        <a href="{% url 'contact_us' %}">
            <button class="text-text focus:outline-none bg-accent font-medium rounded-lg text-sm px-5 py-2.5">
                Contact Us
            </button>
        </a>
    </div>
{% endblock content %}
