<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Wrapped</title>
</head>
<body>
<h1>Hello! Welcome to your spotify wrapped!</h1>
    {% if request.session.spotify_access_token %}
        <p>You are logged in with Spotify!</p>
        <p>Hello {{ username }}!</p>  
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'spotify_get_top_tracks' limit=10 period="long_term"%}">Get tracks</a>
        <a href="{% url 'spotify_get_top_artists' limit=10 period="long_term"%}">Get artists</a>

    {% else %}
        <a href="{% url 'spotify_login' %}">Login with Spotify</a>
    {% endif %}


</body>
</html>