<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Wrapped</title>
</head>
<body>
<h1>Hello! Welcome to your spotify wrapped!</h1>
    {% if user.is_authenticated %}
        <p>Hello {{ user.username }}, you are logged into CSW!</p>
        {% if access_token %}
            <p>You are logged in with Spotify!</p>
            <a href="{% url 'spotify_get_top_tracks' limit=10 period="long_term"%}">Get tracks</a>
            <a href="{% url 'spotify_get_top_artists' limit=10 period="long_term"%}">Get artists</a>
        {% else %}
            <a href="{% url 'spotify_login' %}">Login with Spotify</a>
        {% endif %}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}


</body>
</html>