{% extends "_base.html" %}
{% load i18n %}
{% load compress %}
{% load static %}

{% block title %}{% trans "Past Wraps" %}{% endblock title %}
{%  block content %}
    <a href="{% url 'profile' %}" class="flex-1">
        <button class="flex flex-col items-center justify-center w-32 focus:outline-none text-text bg-accent font-medium rounded-lg text-sm px-4 py-2">
            <p class="text-center">{% trans "Back" %}</p>
        </button>
    </a>

    {% if past_wraps %}
    <div class="table w-full mt-4">
        <div class="table-header-group bg-accent">
            <div class="table-row text-text pl-2">
                <div class="table-cell text-left">{% trans "Date" %}</div>
                <div class="table-cell text-left">{% trans "Period" %}</div>
                <div class="table-cell text-left">{% trans "Delete" %}</div>
            </div>
        </div>
        <div class="table-row-group">
        {% for key, wrap in past_wraps.items %}
            <div class="text-text table-row text-left">
                <div class="table-cell">
                <a href="{% url 'wrapped' limit=10 period=wrap.time_period %}">
                    <p class=" text-text">{{ wrap.date_formatted }}</p>
                </a>
                </div>
                <div class="table-cell">
                <p class="text-text">{{ wrap.time_period }}</p>
                </div>
                <div class="table-cell">
                <a href="{% url 'delete_wrapped' item_id=wrap.id %}">
                <button class="text-text">X</button>
                </a>
            </div>
            </div>
        {% endfor %}
    </div>
    </div>
    {% else %}
        <span class="text-text bg-accent">{% trans "You have no past wraps." %}</span>
    {% endif %}
    
{% endblock content %}