{% extends "_base.html" %}
{% load i18n %}
{% load compress %}
{% load static %}

{% block title %}{% trans "Past Wraps" %}{% endblock title %}
{%  block content %}
    <a href="{% url 'index' %}" class="flex-1">
        <button class="flex flex-col items-center justify-center w-32 focus:outline-none text-text bg-accent font-medium rounded-lg text-sm px-4 py-2">
            <p class="text-center">{% trans "Back" %}</p>
        </button>
    </a>

    {% if past_wraps %}
    <div class="grid grid-cols-8 gap-4 mt-4 mx-2">
    {% for key, wrap in past_wraps.items %}
        <a href="{% url 'view_wrap' item_id=wrap.id %}">
         <button class="focus:outline-none bg-accent font-medium rounded-lg text-sm px-4 py-2 my-2 mx-4">
            <p class="text-center text-text">{{ wrap.date_formatted }}</p>
        </button>
        </a>
    {% endfor %}
    </div>
    {% else %}
        <span class="text-text">{% trans "You have no past wraps." %}</span>
    {% endif %}
    
{% endblock content %}