{% extends "_base.html" %}
{% load i18n %}

{% block content %}
    <div class="container text-text">
        {% if user.is_authenticated %}
            <h1 class="text-4xl text-center font-bold pt-10">{% trans "This is " %}{{ user.username }}{% trans "'s profile." %}</h1>
            <div class="flex space-x-4 items-center justify-center">
                <div class="p-10 flex space-x-4 items-center justify-center w-1/2">
                    <a href="{% url 'index' %}" class="flex-1">
                        <button class="flex flex-col items-center justify-center w-full focus:outline-none text-white bg-accent font-medium rounded-lg text-sm px-5 py-2.5">
                            <p class="text-center text-white">{% trans "Go Back" %}</p>
                        </button>
                    </a>
                    <a href="{% url 'past_wraps' %}" class="flex-1">
                        <button class="flex flex-col items-center justify-center w-full focus:outline-none text-text bg-accent font-medium rounded-lg text-sm px-5 py-2.5">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 0 0-1.883 2.542l.857 6a2.25 2.25 0 0 0 2.227 1.932H19.05a2.25 2.25 0 0 0 2.227-1.932l.857-6a2.25 2.25 0 0 0-1.883-2.542m-16.5 0V6A2.25 2.25 0 0 1 6 3.75h3.879a1.5 1.5 0 0 1 1.06.44l2.122 2.12a1.5 1.5 0 0 0 1.06.44H18A2.25 2.25 0 0 1 20.25 9v.776" />
                            </svg>
                            <p class="text-center">{% trans "Past Solo Wrappeds" %}</p>
                        </button>
                    </a>
                    
                    
                    <a href="{% url 'past_duo_wrappeds' %}" class="flex-1">
                        <button class="flex flex-col items-center justify-center w-full focus:outline-none text-text bg-accent font-medium rounded-lg text-sm px-5 py-2.5">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 0 0-1.883 2.542l.857 6a2.25 2.25 0 0 0 2.227 1.932H19.05a2.25 2.25 0 0 0 2.227-1.932l.857-6a2.25 2.25 0 0 0-1.883-2.542m-16.5 0V6A2.25 2.25 0 0 1 6 3.75h3.879a1.5 1.5 0 0 1 1.06.44l2.122 2.12a1.5 1.5 0 0 0 1.06.44H18A2.25 2.25 0 0 1 20.25 9v.776" />
                            </svg>
                            <p class="text-center">{% trans "Past Duo-Wrappeds" %}</p>
                        </button>
                    </a>
                    
                    <a href="{% url 'delete_account' %}" class="flex-1">
                        <button class="flex flex-col items-center justify-center w-full focus:outline-none text-white font-medium rounded-lg text-sm px-5 py-2.5" style="background-color: red">
                            <p class="text-center">{% trans "Delete Account" %}</p>
                        </button>
                    </a>
                </div>
            </div>

            <!-- Friends Section -->
            <div name="friends" class="items-center justify-center text-center">
                
                <!-- Add Friend -->
                <div name="friends-add">
                    <form method="POST" action="{% url 'send_friend_request' %}">
                        {% csrf_token %}
                        <input type="text" name="username" placeholder={% trans "Enter username" %} class="h-full border-2 border-accent" style="color: black">
                        <button type="submit" class="bg-green rounded-2xl border-2 border-accent px-4 ml-2 text-white">{% trans "Add" %}</button>
                    </form>
                </div>
                
                <!-- Outgoing Requests -->
                <div class="mt-8">
                    <h2 class="text-2xl font-bold">{% trans "Outgoing Requests" %}</h2>
                    <div class="flex-col">
                        {% for request in outgoing_requests %}
                            <div class="flex justify-center items-center space-x-2">
                                <span class="text-text">{{ request.friend.username }}</span>
                                <a href="{% url 'cancel_friend_request' request.id %}" class="bg-red-500 rounded-2xl border-2 border-accent px-4 text-white">{% trans "Cancel" %}</a>
                            </div>
                        {% empty %}
                            <p>{% trans "No outgoing requests" %}</p>
                        {% endfor %}
                    </div>
                </div>
                
                <!-- Incoming Requests -->
                <div class="mt-8">
                    <h2 class="text-2xl font-bold">{% trans "Incoming Requests" %}</h2>
                    <div class="flex-col">
                        {% for request in incoming_requests %}
                            <div class="flex justify-center items-center space-x-2">
                                <span class="text-text">{{ request.user.username }}</span>
                                <a href="{% url 'accept_friend_request' request.id %}" class="bg-green-500 rounded-2xl border-2 border-accent px-4 text-white">{% trans "Accept" %}</a>
                                <a href="{% url 'deny_friend_request' request.id %}" class="bg-red-500 rounded-2xl border-2 border-accent px-4 text-white">{% trans "Deny" %}</a>
                            </div>
                        {% empty %}
                            <p>{% trans "No incoming requests" %}</p>
                        {% endfor %}
                    </div>
                </div>
                
                <!-- Friends List -->
                <div class="mt-8">
                    <h2 class="text-2xl font-bold">{% trans "Friends" %}</h2>
                    <div class="flex-col">
                        {% for friend in friends %}
                            {% if friend.user == request.user %}
                                {% with friend_id=friend.friend.id %}
                                <div class="flex justify-center items-center space-x-2">
                                    <span class="text-text">{{ friend.friend.username }}</span>
                                    <a href="{% url 'duo_wrapped' friend_id %}" class="bg-green rounded-2xl border-2 border-accent px-4 ml-2 text-white">
                                        {% trans "View Duo-Wrapped" %}
                                    </a>
                                    
                                    <!-- Remove Friend Link -->
                                    <a href="{% url 'remove_friend' friend_id %}" 
                                       class="rounded-2xl px-4 ml-2 text-white" style="background-color: red">X</a>
                                </div>
                                {% endwith %}
                            {% else %}
                                {% with friend_id=friend.user.id %}
                                <div class="flex justify-center items-center space-x-2">
                                    <span class="text-text">{{ friend.user.username }}</span>
                                    <a href="{% url 'duo_wrapped' friend_id %}" class="bg-green rounded-2xl border-2 border-accent px-4 ml-2 text-white">{% trans "View Duo-Wrapped" %}</a>
                                    
                                    <!-- Remove Friend Link -->
                                    <a href="{% url 'remove_friend' friend_id %}" 
                                       class="rounded-2xl px-4 ml-2 text-white" style="background-color: red">X</a>
                                </div>
                                {% endwith %}
                            {% endif %}
                        {% empty %}
                            <p>{% trans "No friends" %}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
        {% else %}
            <p>{% trans "You need to log in to view your profile." %}</p>
        {% endif %}
    </div>
{% endblock content %}
