{% extends "_base.html" %}
 
{% block content %}
    <script>
    let num = 10
    let period = 'long_term'
    </script>
    
<div class="container text-white">

<div class="flex space-x-8">
    <a href="{% url 'index' %}" class="mr-8 flex-1">
        <button class="flex items-center w-32 justify-center focus:outline-none text-white bg-green font-medium rounded-lg text-sm px-5 py-2.5 mr-8">
            <p class="text-center">Back</p>
        </button>
    </a>
    <div class="flex align-right space-x-2 ml-8">
        <a href="{% url 'todays_wrap' limit=10 period='short_term' %}" class="">
            <button class="w-auto justify-center focus:outline-none text-white bg-green font-medium rounded-lg text-sm px-5 py-2.5">
                <span class="text-center">Last Month</span>
            </button>
        </a>
        <a href="{% url 'todays_wrap' limit=10 period='medium_term' %}" class="">
                <button class="w-auto justify-center items-center focus:outline-none text-white bg-green font-medium rounded-lg text-sm px-5 py-2.5">
                    <span class="text-center">Last 6 Months</span>
                </button>
            </a>
        
        <a href="{% url 'todays_wrap' limit=10 period='long_term' %}" class="">
                <button class="flex w-auto justify-center items-center focus:outline-none text-white bg-green font-medium rounded-lg text-sm px-5 py-2.5">
                    <span class="text-center">Last Year</span>
                </button>
            </a>
    </div>
    </div>
<br>

    <h1>Your Top Spotify Artists</h1>
    <ul>
        {% if top_artists %}
            {% for artist_num, artist in top_artists.items %}
                <li>
                    <strong>{{ artist_num }}. <a href="{{ artist.artist_url }}">{{ artist.name }}</a></strong><br>
                    Genres: {{ artist.genres }}<br>
                    <img src="{{ artist.image_url }}" alt="{{ artist.name }}" style="width:100px;">
                </li>
            {% endfor %}
        {% else %}
            <p>No artists found for this period.</p>
        {% endif %}
    </ul>


    <h1>Your Top Spotify Tracks</h1>

    <ul>
        {% if top_tracks %}
            {% for track_num, track in top_tracks.items %}
                <li>
                    <strong>{{ track_num }}. {{ track.track_name }}</strong><br>
                    <a href="{{ track.track_url }}">Listen on Spotify</a><br>
                    Album: <a href="{{ track.album_link }}">{{ track.album_name }}</a><br>
                    Release Date: {{ track.release_date }}<br>
                    <img src="{{ track.album_image }}" alt="Album Cover" style="width:100px;"><br>
                    Artists:
                    <ul>
                        {% for artist in track.artists %}
                            <li><a href="{{ artist.artist_link }}">{{ artist.name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% if track.mp3_preview_url %}
                        <!-- only show mp3 if it exists -->
                        <audio controls>
                            <source src="{{ track.mp3_preview_url }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    {% else %}
                        <p>No preview available for this track.</p>
                    {% endif %}
                </li>
            {% endfor %}
        {% else %}
            <p>No tracks found for this period.</p>
        {% endif %}
    </ul>

  
</div>

{% endblock content %}