{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Spotify Artists</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'CSS/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>

<body class="bg-black font-sans">
    <div class="container mx-auto mt-4">
        <strong class="text-4xl text-center font-bold p-10 text-white">Your Top Spotify Artists</strong>

        <!-- Swiper Container -->
        <div class="swiper mt-8 max-w-lg mx-auto border-4 border-white rounded-lg">
            <div class="swiper-wrapper">
                {% if top_artists %}
                    {% for artist_num, artist in top_artists.items %}
                        <!-- Each Slide -->
                        <div class="swiper-slide">
                            <div class="p-4 bg-dark-gray text-white">
                                <img src="{{ artist.image_url }}" class="w-full h-auto max-w-xs mx-auto object-cover border-2 border-white rounded-lg" alt="{{ artist.name }}">
                                <div class="mt-4">
                                    <strong class="text-2xl">{{ artist_num }}. <a href="{{ artist.artist_url }}" class="hover:underline">{{ artist.name }}</a></strong><br>
                                    <p>Genres: {{ artist.genres }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-white">No artists found for this period.</p>
                {% endif %}
            </div>

            <!-- Pagination -->
            <div class="swiper-pagination" style="bottom: 1px;"></div>

            <!-- Navigation buttons -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

    {% compress js %}
    <script src="{% static 'JS/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'JS/swiper-init.js' %}"></script>
    {% endcompress %}
</body>

</html>
